<section class="mt-40">
  <div class="flex items-end md:items-center flex-col">
    <h2 class="font-oswald font-bold md:mt-2 md:text-center">
      {{ headline }}
    </h2>
    <h4 class="font-lato font-light md:text-center">
      {{ description }}
    </h4>
  </div>
  <div
    class="flex md:flex-col md:items-center items-start w-full my-16 justify-between"
  >
    <div
      class="qualities-box flex flex-col mx-12 md:mx-0 md:my-8 md:w-full justify-center items-center"
      *ngFor="let feature of columns"
    >
      <img
        class="border-my-red bg-my-red border-8 rounded p-2"
        src="{{ feature.image }}"
        alt="{{ feature.title }}"
      />
      <h4 class="font-oswald font-regular my-4">
        {{ feature.title }}
      </h4>
      <p class="font-lato font-light text-center">
        {{ feature.description }}
      </p>
    </div>
  </div>
</section>
