<section>
  <div class="flex md:flex-col justify-between items-center">
    <h3
      class="font-playfair-black-italic text-my-white text-6xl mb-4 hidden md:block"
    >
      Tribilin!
    </h3>
    <div class="flex flex-col justify-center items-center md:hidden">
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
      <h3 class="font-playfair-black-italic text-my-white text-5xl my-0">
        Tribilin!
      </h3>
    </div>
    <div class="flex flex-col">
      <img class="w-96" src="{{ tribilin }}" alt="{{ tribilin.title }}" />
      <p class="text-right font-raleway-regular italic text-my-white">
        I really like what I do
      </p>
    </div>
  </div>
  <div>
    <p class="font-raleway-thin text-lg md:text-2xl my-8 md:mt-8 md:mb-0">
      {{ music }}
    </p>
    <div class="flex justify-between">
      <img
        class="w-64 m-10 mt-0 md:hidden"
        src="{{ image }}"
        alt="{{ image.title }}"
      />
      <p class="w-84 md:w-full font-raleway-thin text-lg md:text-2xl md:my-8">
        {{ cinema }}
      </p>
    </div>
    <p class="font-raleway-thin text-lg md:text-2xl">{{ videogames }}</p>
  </div>
  <div class="my-8">
    <img
      class="w-full"
      src="../../../assets/svg/red_fence.svg"
      alt="yellow and purple fence"
    />
  </div>
</section>
