<section>
  <h6 class="font-playfair-regular text-center text-xl mb-4">FRANCISCO BEJARANO / FRANCISCO BEJARANO / FRANCISCO BEJARANO</h6>
  <div class="flex md:flex-col justify-between items-start">
    <div>
      <img src="{{tribilin}}" alt="{{tribilin.title}}">
    </div>
    <div class="flex flex-col ml-4 md:hidden">
      <img src="{{image}}" alt="{{image.title}}">
      <p class="text-2xl font-playfair-black-italic text-my-white">
        I really enjoy what I do
      </p>
    </div>
  </div>
  <div>
    <p class="font-raleway-thin text-lg md:text-2xl my-8 md:mt-8 md:mb-0">
      {{ music }}
    </p>
    <div class="flex flex-row-reverse justify-between mb-8 md:my-8">
    <img class="w-84 md:hidden" src="{{like}}" alt="{{like.title}}">
      <p class="w-84 mr-8 md:mr-0 md:w-full font-raleway-thin text-lg md:text-2xl">
        {{ cinema }}
      </p>
    </div>
    <p class="font-raleway-thin text-lg md:text-2xl">{{ videogames }}</p>
  </div>
  <div class="my-8">
    <img
      class="w-full"
      src="../../../assets/svg/red_fence.svg"
      alt="yellow and purple fence"
    />
  </div>
</section>
