<section
  class="flex md:flex-col mt-40 md:my-32 justify-between md:justify-center items-center"
>
  <div
    class="mr-16 md:mr-0 md:text-center md:flex md:justify-center md:items-center md:flex-col"
  >
    <h1 class="font-oswald font-bold">
      {{ headline }}
    </h1>
    <img
      class="hidden w-56 md:block border-my-red bg-my-red border-8 rounded my-12"
      src="../../assets/png/lambda.png"
      alt="lambda"
    />
    <h4 class="font-lato font-light">
      {{ description }}
    </h4>
  </div>
  <div>
    <img
      class="md:hidden rounded w-96"
      src="{{ image }}"
      alt="clown"
    />
  </div>
</section>
