<section class=" mt-40 md:my-24">
  <div class="w-full flex justify-center items-center mb-32 md:mb-16">
    <img class="md:hidden" src="../../../assets/svg/book.svg" alt="book">
    <hr class="mx-16 border-my-red rotate-90 h-40 md:hidden" style="border-width: 0.5px;">
    <h3 class="font-raleway-bold text-4xl md:text-my-red">MOST RECENT <br> WORKS</h3>
  </div>
  <div class="flex justify-between md:justify-center my-16" *ngFor="let project of projects">
    <img class="w-64 object-cover md:hidden rounded" src="{{project.image}}" alt="project.title">
    <div class="flex flex-col w-84">
      <h6 class="font-raleway-bold text-xl md:text-2xl">{{project.headline}}</h6>
      <p class="font-raleway-thin my-2 md:text-xl">{{project.description}}</p>
      <ul *ngFor="let bulletpoint of project.bulletpoints">
        <li class="flex my-4 items-center">
          <img class="md:w-6" src="{{bulletpoint.icon}}" alt="{{bulletpoint.title}}">
          <p class="font-raleway-bold ml-8 md:text-lg">{{bulletpoint.title}}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
