<section class="mt-40 md:my-24">
  <div class="w-full flex justify-center items-center mb-32 md:mb-16">
    <img
      class="w-40 md:w-24 md:mr-8"
      src="../../../assets/svg/book.svg"
      alt="book"
    />
    <hr class="mx-16 border-my-white rotate-90 h-40 md:hidden" />
    <h2 class="font-oswald font-bold md:text-center">
      RECENT <br class="md:hidden" />
      WORKS
    </h2>
  </div>
  <div
    class="flex justify-center md:justify-center my-24"
    *ngFor="let project of projects"
  >
    <div class="flex md:flex-col justify-center md:items-center w-full">
      <img
        class="w-24 mr-24 md:mr-0 md:mb-8"
        [src]="project.image"
        [alt]="project.headline"
      />
      <div class="flex flex-col mr-24 md:mr-0 md:mb-12">
        <ng-container *ngIf="project.link.url; else elseTemplate">
          <h4
            ng-if
            class="font-oswald font-regular md:text-center hover:text-my-red"
          >
            <a [href]="project.link.url">{{ project.headline }}</a>
          </h4>
        </ng-container>
        <ng-template #elseTemplate>
          <h4 ng-if class="font-oswald font-regular md:text-center">
            {{ project.headline }}
          </h4>
        </ng-template>

        <p class="font-lato font-light my-2 md:text-center">
          {{ project.description }}
        </p>
      </div>
      <ul class="flex flex-col justify-between md:items-center">
        <li
          class="flex items-center md:mb-8"
          *ngFor="let bulletpoint of project.bulletpoints"
        >
          <h5 class="font-oswald font-regular whitespace-no-wrap">
            {{ bulletpoint.title }}
          </h5>
          <img
            class="ml-6 w-6 md:w-10"
            style="max-width: unset;"
            src="{{ bulletpoint.icon }}"
            alt="{{ bulletpoint.title }}"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
