<section class="my-32">
  <div class="flex flex-col rounded justify-between items-center px-4">
    <a
      class="w-full flex justify-center items-center mb-24 hover:text-my-red  md:mb-16"
      [routerLink]="['/blog/list']"
    >
      <img
        class="w-48 md:hidden"
        src="../../../assets/svg/blog.svg"
        alt="blog"
      />
      <hr class="mx-12 border-my-white rotate-90 h-40 md:hidden" />
      <h2 class="font-oswald font-bold md:text-center">
        RECENT <br />
        BLOGS
      </h2>
    </a>
    <div
      id="blog-resume"
      class="rounded cursor-pointer outline-none"
      style="transition: all 0.5s ease-in-out;"
      *ngFor="let blog of blogs"
    >
      <a (click)="goToBlog(blog, blog.slug)">
        <h3 class="font-oswald hover:text-my-red">
          {{ blog.title }}
        </h3>
      </a>
      <h5 class="font-oswald my-2 font-light md:text-right">
        {{ processTimestamp(blog.timestamp) }}
      </h5>
      <p class="font-lato font-light md:hidden">{{ blog.resume }}</p>
    </div>
  </div>
</section>
