@import "base/variables";

#ham {
  transition: 0.5s ease-in-out;
  &:hover {
    span {
      background: $red;
    }
  }
  span {
    transition: 0.25s ease-in-out;
    position: relative;
  }
}

#page-name {
  font-family: $lato;
  transition: 0.25s ease-in-out;
}

.open {
  color: $white;
  &:hover {
    color: $red;
    span {
      background: $red;
    }
  }
  span {
    background: $white;

    &:nth-child(1) {
      transform: rotate(45deg);
      top: 0.8rem;
      left: 0rem;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: -1.2rem;
      left: 0rem;
    }
  }
}

#menu {
  bottom: 100%;
  transition: bottom 0.5s ease-in-out;
  padding-top: 4rem;
  ul {
    li {
      a {
        font-family: $lato;
      }
    }
  }
}

.menu-open {
  bottom: 0 !important;
}
