@import "media/queries";

#menu {
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out;
  @include media("<tablet") {
    transform: translateX(-150%);
  }
  ul {
    li {
      a {
        font-family: var(--font-lato);
      }
    }
  }
}

.menu-open {
  transform: translateY(0) !important;
  @include media("<tablet") {
    transform: translateX(0) !important;
  }
}
