<header class="relative z-50 flex justify-between items-center my-8 wrapper">
  <h4
    [routerLink]="['']"
    class="font-lato font-bold z-10 cursor-pointer outline-none text-my-white hover:text-my-red"
    id="page-name"
    (click)="close()"
  >
    Tronquin.com
  </h4>
  <nav>
    <button
      class="hamburger hamburger--squeeze focus:outline-none"
      type="button"
      id="ham"
      (click)="open()"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>
</header>
<div class="z-20 bg-my-black fixed w-full h-full" id="menu">
  <ul class="flex flex-col justify-center items-center h-full">
    <li class="mb-20 hidden">
      <a
        [routerLink]="['/projects']"
        class="largest font-lato font-bold capitalize text-my-white hover:text-my-red"
        (click)="close()"
        >WORK</a
      >
    </li>
    <li class="mb-20">
      <a
        [routerLink]="['/about']"
        class="largest font-lato font-bold capitalize text-my-white hover:text-my-red"
        (click)="close()"
        >ABOUT</a
      >
    </li>
    <li class="mb-20">
      <a
        [routerLink]="['/blog']"
        class="largest font-lato font-bold capitalize text-my-white hover:text-my-red"
        (click)="close()"
        >BLOGS</a
      >
    </li>
    <li class="mb-20">
      <a
        href="mailto:skorm88k@gmail.com"
        class="largest font-lato font-bold capitalize text-my-white hover:text-my-red"
        (click)="close()"
        >CONTACT</a
      >
    </li>
    <li class="mb-20">
      <ul class="flex justify-center items-center">
        <li class="mx-3">
          <a href="https://github.com/Tronquin">
            <fa-icon
              size="lg"
              class="large cursor-pointer text-my-white hover:text-my-red"
              [icon]="['fab', 'github']"
            ></fa-icon>
          </a>
        </li>
        <li class="mx-3">
          <a href="https://www.linkedin.com/in/tronquin/">
            <fa-icon
              size="lg"
              class="large cursor-pointer text-my-white hover:text-my-red"
              [icon]="['fab', 'linkedin']"
            ></fa-icon>
          </a>
        </li>
        <li class="mx-3">
          <a href="https://www.instagram.com/tronquinwastaken/">
            <fa-icon
              size="lg"
              class="large cursor-pointer text-my-white hover:text-my-red"
              [icon]="['fab', 'instagram']"
            ></fa-icon>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
