@import "./base/fonts";
@import "./base/reset";
@import "./base/colors";
@import "./base/layout";
@import "./base/typography";
@import "./media/queries";

body,
html {
  font-family: var(--font-lato);
  color: var(--my-white);
  background-color: var(--my-black);
  font-size: var(--rem);
}
