<section>
  <h2 class="text-center text-5xl md:text-6xl md:mb-4 text-my-yellow font-playfair-italic">{{folks}}</h2>
  <p class="font-raleway-thin text-lg md:text-2xl mb-4">{{farewell_1}}</p>
  <p class="font-raleway-thin text-lg md:text-2xl">{{farewell_2}}</p>
  <div class="text-right md:text-center md:my-12">
    <a href="mailto:skorm88k@gmail.com" class="text-6xl font-playfair-black-italic text-my-yellow hover:text-my-purple">CONTACT ME</a>
    <p class="text-my-yellow text-xs font-raleway-thin">*winks*</p>
  </div>
</section>
