<section class="mt-40 md:mt-16">
  <div class="flex md:flex-col justify-between items-center">
    <div
      class="w-56 md:w-64  md:mb-16 text-center flex flex-col justify-center items-center"
    >
      <img
        class="border-my-red bg-my-red border-8 rounded w-40 md:w-96 p-2"
        src="{{ portrait }}"
        alt="cat"
      />
      <h4 [routerLink]="['/about']"
        class="cursor-pointer font-oswald font-bold mt-4 hover:text-my-red"
      >
        {{ headline }}
      </h4>
      <p class="font-lato font-light my-2">
        {{ description }}
      </p>
      <button [routerLink]="['/about']" class="font-oswald uppercase font-bold rounded text-black bg-my-red px-10 py-1 mt-4">About</button>
    </div>
    <div class="ml-20 md:ml-0">
      <div class="flex justify-between items-center mb-4">
        <h4 class="font-oswald font-regular">
          My Skills
        </h4>
        <h6 class="font-lato font-light">Self-Appointed*</h6>
      </div>
      <img class="md:hidden" src="{{ chart }}" alt="skill chart" />
      <img
        class="w-96 hidden md:block"
        src="{{ chart_mobile }}"
        alt="skill chart mobile"
      />
    </div>
  </div>
</section>
