<section class="mt-40 md:mt-16">
<div class="flex md:flex-col justify-between items-center">
    <div class="w-48 md:w-64  md:mb-16 text-center flex flex-col justify-center items-center">
      <img class="border-my-red bg-my-red border-8 rounded w-40 md:w-96 p-2" src="{{portrait}}" alt="cat">
      <h3 class="font-raleway-bold mt-2 text-xl md:text-4xl">{{headline}}</h3>
      <p class="font-raleway-thin text-sm text-lg md:text-2xl my-2">{{description}}</p>
      <a class="font-raleway-thin text-sm text-lg md:text-2xl hover:text-my-red" [routerLink]="[ '/about']">Learn More <span class="text-my-red font-raleway-bold">About</span> Me</a>
    </div>
    <div>
      <div class="flex justify-between mb-4">
        <h5 class="font-raleway-bold text-xl md:text-2xl">My Skills</h5>
        <h6 class="font-raleway-thin md:text-xl">Self-Appointed*</h6>
      </div>
      <img class="w-96 md:hidden" src="{{chart}}" alt="skill chart">
      <img class="w-96 md:w-72 hidden md:block" src="{{chart_mobile}}" alt="skill chart mobile">
    </div>
</div>
</section>
