<div class="home mt-12">
    <section class="flex md:flex-col justify-between md:justify-center items-center">
      <div class="mr-32 md:mr-0 md:text-center md:flex md:justify-center md:items-center md:flex-col">
        <h1 class="font-raleway-bold text-4xl mb-4 md:mb-0 md:text-5xl">HELLO, I'M FRANCISCO</h1>
        <img class="hidden w-64 md:block border-my-red bg-my-red border-8 rounded my-8" src="../../assets/png/lambda.png" alt="lambda">
        <p class="font-raleway-thin text-3xl md:text-4xl">
            I’M A WEB DEVELOPER WHO LIKES GRAPHIC DESIGN AND 3D MODELING
        </p>
      </div>
      <div>
        <img class="md:hidden w-96 border-my-red border-8 rounded" src="../../assets/jpg/clown.jpg" alt="clown">
      </div>
    </section>
    <section class="">
      <div class="flex items-end flex-col">
        <h2 class="font-raleway-bold text-4xl mb-4 md:mb-0 md:text-5xl">I REALLY LIKE WHAT I DO</h2>
        <h6 class="font-raleway-bold text-2xl">All the things I do <span class="font-raleway-thin italic">usually</span> in some way or another</h6>
      </div>
      <div>
        <div class="flex flex-col justify-center items-center w-40">
          <img src="" alt=""/>
          <h6 class="font-raleway-bold text-xl my-3">Fast</h6>
          <p class="font-raleway-thin text-lg">Fast load times and lag free interaction, my highest priority.</p>
        </div>
      </div>
    </section>
    <section class="">

    </section>
    <section class="">

    </section>
    <section class="">

    </section>
</div>
