<footer class="my-6">
    <ul class="flex justify-center items-center h-4">
        <li class="mx-3">
          <fa-icon size="lg" class="cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'github']"></fa-icon>
        </li>
        <li class="mx-3">
          <fa-icon size="lg" class="cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'linkedin']"></fa-icon>
        </li>
        <li class="mx-3">
          <fa-icon size="lg" class="cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'instagram']"></fa-icon>
        </li>
      </ul>
      <h6 class="font-raleway-thin text-xs mt-4 text-center">Tronquin.com Copyright&copy; 2020</h6>
</footer>
