<footer class="my-6">
    <ul class="flex justify-center items-center mb-4">
        <li class="mx-3">
          <a href="https://github.com/Tronquin">
            <fa-icon size="lg" class="large cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'github']"></fa-icon>
          </a>
        </li>
        <li class="mx-3">
          <a href="https://www.linkedin.com/in/tronquin/">
            <fa-icon size="lg" class="large cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'linkedin']"></fa-icon>
          </a>
        </li>
        <li class="mx-3">
          <a href="https://www.instagram.com/tronquinwastaken/">
            <fa-icon size="lg" class="large cursor-pointer text-my-white hover:text-my-red" [icon]="['fab', 'instagram']"></fa-icon>
          </a>
        </li>
      </ul>
      <h6 class="hidden font-raleway-thin mt-4 text-center">Tronquin.com Copyright&copy; 2020</h6>
</footer>
