@import "media/queries";

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  @include media("<desktop") {
    max-width: 60rem;
  }

  @include media("<tablet") {
    max-width: 30rem;
  }
}

.no-scroll {
  overflow: hidden;
}
