:root {
  --font-lato: "Lato", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --base-font-size: 12;
  --large-font-size: 21;
  --max-viewport: 1600;
  --min-viewport: 480;
  //base font size
  --rem: calc(
    (var(--base-font-size) * 1px) +
      (var(--large-font-size) - var(--base-font-size)) *
      (
        (100vw - (var(--min-viewport) * 1px)) /
          (var(--max-viewport) - var(--min-viewport))
      )
  );
  --scale: 1.333;
  /* Don't change the lines below, you only need to change the --scale above. */
  /* Name convention: --size-{large/small}-{multiplier} */
  --size-l-1: calc(1rem * var(--scale));
  --size-l-2: calc(var(--size-l-1) * var(--scale));
  --size-l-3: calc(var(--size-l-2) * var(--scale));
  --size-l-4: calc(var(--size-l-3) * var(--scale));
  --size-l-5: calc(var(--size-l-4) * var(--scale));
  --size-l-6: calc(var(--size-l-5) * var(--scale));
  --size-l-7: calc(var(--size-l-6) * var(--scale));
  --size-s-1: calc(1rem / var(--scale));
  --size-s-2: calc(var(--size-s-1) / var(--scale));
  --size-s-3: calc(var(--size-s-2) / var(--scale));
}

#basic-blog {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-oswald);
    font-weight: bold;
    margin: 1rem 0;
  }

  h6 {
    font-family: var(--font-oswald);
    font-weight: initial;
    margin: 0;
  }

  p {
    font-family: var(--font-lato);
    font-weight: lighter;
    margin: 1rem 0;
  }
}

h1 {
  font-size: var(--size-l-5);
}
h2 {
  font-size: var(--size-l-4);
}
h3 {
  font-size: var(--size-l-3);
}
h4 {
  font-size: var(--size-l-2);
}
h5,
p {
  font-size: var(--size-l-1);
}
h6 {
  font-size: 1rem;
}

@include media("<tablet") {
  h4 {
    font-size: var(--size-l-3);
  }
  h5,
  p {
    font-size: var(--size-l-2);
  }
}

.large {
  font-size: var(--size-l-1);
}
.larger {
  font-size: var(--size-l-2);
}
.largest {
  font-size: var(--size-l-3);
}
small,
.small {
  font-size: var(--size-s-1);
}
.smaller {
  font-size: var(--size-s-2);
}
.smallest {
  font-size: var(--size-s-3);
}
