//Colors
$red: #ED2124;
$black: #0D0D0D;
$white: #F2F2F2;

$lato: 'lato-regular', Helvetica, Arial;
$lato-bold: 'lato-bold', Helvetica, Arial;
$lato-light: 'lato-light', Helvetica, Arial;
$oswald: 'oswald-regular', Helvetica, Arial;
$oswald-light: 'oswald-light', Helvetica, Arial;
$oswald-bold: 'oswald-bold', Helvetica, Arial;

$regular: 21px;
$big: 48px;
$small: 12px;
