//Colors
$red: #ED2124;
$black: #0D0D0D;
$white: #F2F2F2;
$yellow: #E4A502;
$purple: #6C1669;

$raleway: 'raleway-regular', Helvetica, Arial;
$raleway-bold: 'raleway-bold', Helvetica, Arial;
$raleway-thin: 'raleway-thin', Helvetica, Arial;
$playfair: 'playfair-regular', Helvetica, Arial;
$playfair-italic: 'playfair-italic', Helvetica, Arial;
$playfair-black: 'playfair-black', Helvetica, Arial;
$playfair-black-italic: 'playfair-black-italic', Helvetica, Arial;

$regular: 21px;
$big: 48px;
$small: 12px;
